# Project exclude paths
/.idea/
/out/

/recfun/.idea/
/recfun/.settings/
/recfun/lib/
/recfun/lib_managed/
/recfun/project/
/recfun/recitations/
/recfun/submission/
/recfun/target/
/recfun/.classpath
/recfun/.project
/recfun/build.sbt

cs332-assign.iml
recfun/src/main/scala/common/package.scala
