# Project exclude paths
/.idea/
/out/

/recfun/.idea/
/recfun/.settings/
/recfun/lib/
/recfun/lib_managed/
/recfun/project/
/recfun/recitations/
/recfun/submission/
/recfun/target/
/recfun/.classpath
/recfun/.project
/recfun/build.sbt

/funsets/.idea/
/funsets/.settings/
/funsets/lib/
/funsets/lib_managed/
/funsets/project/
/funsets/recitations/
/funsets/submission/
/funsets/target/
/funsets/.classpath
/funsets/.project
/funsets/build.sbt
/funsets/src/main/scala/common

/objsets/.idea/
/objsets/.settings/
/objsets/lib/
/objsets/lib_managed/
/objsets/project/
/objsets/recitations/
/objsets/submission/
/objsets/target/
/objsets/.classpath
/objsets/.project
/objsets/build.sbt
/objsets/src/main/scala/common

/patmat/.idea/
/patmat/.settings/
/patmat/lib/
/patmat/lib_managed/
/patmat/project/
/patmat/recitations/
/patmat/submission/
/patmat/target/
/patmat/.classpath
/patmat/.project
/patmat/build.sbt
/patmat/src/main/scala/common


cs332-assign.iml
recfun/src/main/scala/common/package.scala
